@import 'variables';
@import 'mixins';

body {
  width: 65vw;
  height: auto;
  margin: 0 auto;
  background-color: $color-desktop-background !important;
  color: $color-text;
  padding: 2px;
  margin-bottom: 40px;
}
