/* Border images are encoded as base64, therefore urls have big length.
 * Use only one @include for each mixin to minimize resulting file size.
 */

.tabnav-tab,
.UnderlineNav-item,
.UnderlineNav-item.selected,
.reponav-item {
  @include tab;
}

.table-list-header,
.timeline-comment-header,
.file-header,
.tag-input,
.auth-form-body,
.commit-tease {
  @include toolbar;
}

.UnderlineNav + .position-relative,
.tabnav + .gutter,
.tabnav + .follow-list,
.tabnav + .blankslate,
.repository-content {
  @include tab-container;
}

.btn:not(:active), .bth:hover,
.filter-item:not(.selected), .filter-item:not(:active),
.menu-item:not(.selected), .menu-item:not(:active), .menu-item:hover,
.js-repo-topics-form-toggle:not(:active), .js-repo-topics-form-toggle:hover,
.pagination span, .pagination a, .pagination em, .pagination a:hover,
.subnav-links a, .subnav-links a:hover,
.social-count, .social-cont:hover {
  @include button;
}

.topic-tag,
.js-repo-topics-form-toggle:active,
.menu-item:active,
.menu-item.selected,
.filter-item:active,
.filter-item.selected,
.btn:active {
  @include button-pushed;
}

.header-search-input,
.files,
.blankslate,
.overall-summary,
.markdown-body,
input[type='text'],
input[type='url'],
input[type='password'],
input[type='search'],
textarea,
.pinned-repo-item,
.js-contribution-graph > .border,
.profile-timeline-card,
.file .data,
.js-navigation-container,
.commit-tease-contributors,
.repository-lang-stats-graph {
  @include input;
}

body,
.timeline-new-comment,
.boxed-group {
  @include window-border;
}

.timeline-new-comment,
.boxed-group {
  background-color: $color-window-background !important;
}

hr {
  border: 1px solid;
  border-top-color: $color-border-dark;
  border-bottom-color: $color-border-light;
  border-left-color: transparent;
  border-right-color: transparent;
  height: 0;
}
