/* Border images are encoded as base64, therefore urls have big length.
 * Use only one @include for each mixin to minimize resulting file size.
 */

.tabnav-tab,
.UnderlineNav-item,
.UnderlineNav-item.selected,
.reponav-item {
  @include tab;
  z-index: 1;
}

.table-list-header,
.timeline-comment-header,
.file-header,
.tag-input,
.pr-toolbar,
.branch-infobar,
.auth-form-body,
.drag-and-drop,
.commit-tease {
  @include toolbar;
}

.tabnav ~ .is-visible,
.UnderlineNav + .position-relative,
.tabnav + .gutter,
.tabnav + .follow-list,
.tabnav + .blankslate,
.timeline-comment .write-content,
.timeline-comment .preview-content,
.repository-content {
  @include tab-container;
}

.btn:not(:active), .bth:hover,
.filter-item:not(.selected), .filter-item:not(:active),
.menu-item:not(.selected), .menu-item:not(:active), .menu-item:hover,
.js-repo-topics-form-toggle:not(:active), .js-repo-topics-form-toggle:hover,
.pagination span, .pagination a, .pagination em, .pagination a:hover,
.subnav-links a, .subnav-links a:hover,
.social-count:not(:active), .social-cont:hover {
  @include button;
}

.topic-tag,
.js-repo-topics-form-toggle:active,
.menu-item:active,
.menu-item.selected,
.filter-item:active,
.filter-item.selected,
.social-count:active,
.btn:active {
  @include button-pushed;
}

.header-search-input,
.files,
.blankslate,
.viz,
.overall-summary,
.markdown-body,
input[type='text'],
input[type='url'],
input[type='password'],
input[type='search'],
textarea,
.Box,
#user-repositories-list li,
.pinned-repo-item,
.js-contribution-graph > .border,
.profile-timeline-card,
.file .data,
.js-navigation-container,
.commit-tease-contributors,
.repository-lang-stats-graph {
  @include input;
}

body,
.timeline-new-comment,
.user-profile-sticky-bar,
.boxed-group {
  @include window-border;
}

.timeline-new-comment,
.user-profile-sticky-bar,
.boxed-group {
  background-color: $color-window-background !important;
}

hr {
  border: 1px solid;
  border-top-color: $color-border-dark;
  border-bottom-color: $color-border-light;
  border-left-color: transparent;
  border-right-color: transparent;
  height: 0;
}

.gh-header-meta,
.Box-header,
.gh-header.pull .gh-header-meta,
.Subhead {
  border-bottom: 1px solid #7b7b7b;
  box-shadow: 0px 1px 0px 0px #ffffff;  
}

.discussion-sidebar-item + .discussion-sidebar-item,
.discussion-item + .discussion-item,
.discussion-item-review + .discussion-item {
  border-top: 1px solid #ffffff;
  box-shadow: 0px -1px 0px 0px #7b7b7b;  
}

.reaction-summary-item,
.comment-reactions .add-reaction-btn {  
  border-right: 1px solid #7b7b7b;
  box-shadow: 1px 0px 0px 0px #ffffff;  
}

.news .UnderlineNav {
  border-bottom: 1px solid #ffffff !important;
  box-shadow: 0px 1px 0px 0px #dfdfdf;
}

.application-main .UnderlineNav {  
  border-bottom: 1px solid #ffffff !important;
  box-shadow: 0px 1px 0px 0px #dfdfdf;
  margin-bottom: -1px;
}

.UnderlineNav.is-stuck {
  padding-top: 10px;
}

.UnderlineNav + .position-relative {
  border-top: none !important;
}
