.footer {
  background-color: $color-window-background;
  margin: 0;
  padding: 2px !important;
  max-width: none !important;

  div {
    margin: 0 !important;
  }

  & > div > div  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;

    /* GitHub logo */
    & > div:first-child {
      text-align: center;
      justify-content: center;
      align-self: center;
      flex-grow: 5;
      width: auto;
    }
    
    /* Columns */
    & > div:not(:first-child) {
      @include window;

      margin: 0 5px !important;

      h2 {
        @include window-header;
        margin: 3px 3px 0 3px !important;
        padding: 0 10px;
        font-family: sans-serif !important;
        font-weight: bold !important;
      }

      padding-left: 0 !important;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }
  }

  & > ul {
    @include statusbar;
    padding: 0 !important;
    margin: 2px;
  }

  & > div:nth-child(1) {
    padding: 0 !important;
    border: none !important;
    max-width: 100%;
    padding: 0 10px !important;

    ul {
      @include statusbar;
      margin: 2px 3px 3px 3px;

      &:nth-child(1) {
        flex-grow: 1;
      }
    }

    li {
      margin-bottom: 0 !important;
      padding: 4px 10px;
      &:hover {
        a {
          color: $color-highlight-text !important;
        }
        background: $color-highlight !important;
      }
    }

    li:not(:last-child) {
      @include border-bottom-separator;
    }
  }

  .text-gray {
    color: $color-text !important;
  }

  .footer-octicon {
    display: none !important;
  }

  & > :nth-child(2) {
    display: none !important;
  }
}
