@import 'variables';
@import 'mixins';
@import 'body';
@import 'wiki';
@import 'icons';
@import 'borders';
@import 'footer';
@import 'reset';
@import 'tabs';

.application-main {
  background-color: $color-window-background;
  padding-bottom: 2px;

  & > div > .mt-4 {
    margin-top: 0 !important;
    padding-top: 24px !important;
  }
}

#content-wrapper {
  background: $color-window-background;
}

.Box-row {
  border: none !important;
  background: none !important;
}

.file .data {
  padding: 4px;
}


.repohead, .repohead.experiment-repo-nav {
  background-color: $color-window-background;
  border: none;
  margin-bottom: 0;
}

.commit-id:hover, .commit-id,
.timeline-commits .commit-message > code a,
.timeline-commits .commit-message > code a:hover,
a, a:hover, {
  color: $color-link;
  text-decoration: underline;
}

.muted-link, .muted-link:hover,
table.files td.message a:hover,
a.link-gray, a.link-gray:hover {
  color: $color-link !important;
  text-decoration: underline;
}

.file {
  border: none !important;
}

.timeline-comment::after,
.timeline-comment::before {
  display: none !important;
}

.timeline-comment {
  background: none !important;
}

.timeline-comment-avatar {
  padding: 10px;
}


.repository-content {
  .container {
    width: 100%;
  }
}

#header,
.Header {
  @include window-header;
  /* use border instead of margin because body background is not gray */
  border: 2px solid $color-window-background;
}

.header-search-key-slash {
  display: none;
}

.HeaderNavlink {
  color: $color-header-text;
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0 12px;
  line-height: 1.2em;
}

.topic-tag {
  background: transparent;
  padding: 0.3em;
}

.files {
  border-collapse: separate;
}

.boxed-group {
  padding: 4px;
}

.readme {
  & > h3 {
    @include window-header;
    border: none;
    margin-bottom: 3px;
  }

  .octicon {
    vertical-aligh: bottom;
    max-width: 16px;
    max-height: 16px;
  }
}

.markdown-body {
  margin: 0 !important;
}

.reponav-item svg {
  display: none;
}

.Counter {
  background: transparent !important;
  color: $color-text !important;
  &::before {
    content: '(';
  }
  &::after {
    content: ')';
  }
}

.repository-content {
  padding: 15px;
}

.stats-switcher-viewport {
  height: 52px;
}

.numbers-summary a {
  height: 52px;
  color: $color-text;
}

.repository-lang-stats {
  height: 52px;
}

.file-wrap {
  border: none;
}

.commit-tease {
  padding: 5px 15px;
  margin-bottom: 4px;
  color: $color-text;

  a {
    color: $color-link;
  }
}

#discussion_bucket {
  display: flex;
  flex-direction: row-reverse;
}

.discussion-timeline {
  width: auto;
  float: none;
  flex-grow: 1;
  position: static;
  margin-right: 10px;
}

.tabnav,
.discussion-timeline-actions,
.timeline-comment-header,
.timeline-comment-wrapper {
  border-top: none;
  border-bottom: none;
}

.timeline-new-comment {
  padding-top: 10px;
}

#repos h2 {
  margin: 10px 0;
}

.topic-tag {
  font-weight: bold;
}

.pinned-repo-item {
  width: calc(50% - 10px);
}

.Box-header {
  border-top: none;
  background: none;
  border-right: none;
  border-left: none;
  margin: 0 10px;
}

.protip {
  margin: 0;
  padding: 20px 0;
}

.pr-toolbar {
  margin: 0;
}

.gh-header.pull .gh-header-meta {
  padding-bottom: 5px;
}

.capped-card-content {
  width: calc(100% - 6px);
  margin: 0 3px;
}

.viz {
  width: 100%;
}

.commit-tease-contributors {
  margin: 5px 0 0 0;
}

.user-profile-sticky-bar {
  padding: 0 15px;
}

#user-repositories-list li {
  margin: 10px 0px;
  padding: 15px;
}

.timeline-comment-avatar {
  margin-left: 0;
  z-index: 2;
}

.timeline-comment-wrapper {
  padding-left: 5px;
  padding: 5px;
}

.closed-banner {
  display: none;
}

.comment-form-head {
  margin-top: 30px;
}
