.border-right {
  border-right: none !important;
}

.border-bottom {
  border-bottom: none !important;
}

.border-top {
  border-top: none !important;
}

.border-left {
  border-left: none !important;
}

.btn:focus {
  box-shadow: none !important;
}

.text-gray-dark,
.text-gray,
.note,
.menu-item.selected
.summary-stats,
.summary-stats li a,
.header-logo,
.UnderlineNav-item,
.UnderlineNav-item.selected,
.reponav-item.selected,
table.files td.message a,
table.files td.age,
.user-profile-bio,
.vcard-username,
.auth-form-header {
  color: $color-text !important;
}

.menu,
.timeline-comment {
  border: none !important;
}

.bg-white,
.comment-form-head,
.discussion-timeline-actions {
  background: none !important;
}

.js-repo-topics-form-toggle {
  padding: 5px;
}

.menu-item.selected::before {
  display: none;
}
