.border-right {
  border-right: none !important;
}

.border-bottom {
  border-bottom: none !important;
}

.border-top {
  border-top: none !important;
}

.border-left {
  border-left: none !important;
}

.btn:focus {
  box-shadow: none !important;
}

.auth-form-header,
.author,
.branch-infobar,
.commit-icon,
.discussion-item .author,
.discussion-item-header,
.discussion-sidebar-heading,
.discussion-sidebar-item,
.drag-and-drop,
.gh-header-meta,
.gh-header-number,
.header-logo,
.menu-item.selected
.note,
.reponav-item.selected,
.summary-stats li a,
.summary-stats,
.text-gray,
.text-gray-dark,
.timeline-comment-header,
.UnderlineNav-item,
.UnderlineNav-item.selected,
.user-profile-bio,
.vcard-username,
table.files td.age,
table.files td.message a
{
  color: $color-text !important;
}

.menu,
.timeline-comment {
  border: none !important;
}

.upload-enabled.focused {
  box-shadow: none;
}

.bg-white,
.comment-form-head,
.thread-subscription-status,
.discussion-timeline-actions {
  background: none !important;
}

.js-repo-topics-form-toggle {
  padding: 5px;
}

.profile-timeline.discussion-timeline .profile-timeline-month-heading::after,
.user-profile-sticky-bar::after,
.menu-item.selected::before {
  display: none !important;
}
