:root {
  --url-button-border: url(/borders/button-border.png);
  --url-button-primary-border: url(/borders/button-primary-border.png);
  --url-button-primary-pushed-border: url(/borders/button-primary-pushed-border.png);
  --url-button-pushed-border: url(/borders/button-pushed-border.png);
  --url-button-selected-background: url(/borders/button-selected-background.png);
  --url-clippy: url(/clippy.png);
  --url-icon-alert: url(/icons/alert_16.png);
  --url-icon-bell: url(/icons/bell_16.png);
  --url-icon-bold: url(/icons/bold.png);
  --url-icon-bookmark: url(/icons/bookmark_13.png);
  --url-icon-branches_32: url(/icons/branches_32.png);
  --url-icon-broadcast: url(/icons/broadcast_16.png);
  --url-icon-check: url(/icons/check.png);
  --url-icon-code: url(/icons/code_16.png);
  --url-icon-comment: url(/icons/comment_16.png);
  --url-icon-commits_32: url(/icons/commits_32.png);
  --url-icon-copy: url(/icons/copy.png);
  --url-icon-create: url(/icons/create_16.png);
  --url-icon-directory: url(/icons/directory_16.png);
  --url-icon-error: url(/icons/error_16.png);
  --url-icon-eye: url(/icons/eye.png);
  --url-icon-file: url(/icons/file_16.png);
  --url-icon-fold: url(/icons/fold.png);
  --url-icon-fork: url(/icons/fork_16.png);
  --url-icon-gear: url(/icons/gear_16.png);
  --url-icon-git-pull-request: url(/icons/git-pull-request_16.png);
  --url-icon-globe: url(/icons/globe_32.png);
  --url-icon-graph: url(/icons/graph_16.png);
  --url-icon-issue: url(/icons/issue_16.png);
  --url-icon-italic: url(/icons/italic.png);
  --url-icon-law: url(/icons/law_16.png);
  --url-icon-law_32: url(/icons/law_32.png);
  --url-icon-link: url(/icons/link_16.png);
  --url-icon-list-ordered: url(/icons/list-ordered_14.png);
  --url-icon-list-unordered: url(/icons/list-unordered_14.png);
  --url-icon-location: url(/icons/location_16.png);
  --url-icon-lock: url(/icons/lock_16.png);
  --url-icon-mail: url(/icons/mail_16.png);
  --url-icon-mention: url(/icons/mention_16.png);
  --url-icon-mute: url(/icons/mute_16.png);
  --url-icon-organization: url(/icons/organization_16.png);
  --url-icon-organization_32: url(/icons/organization_32.png);
  --url-icon-pencil: url(/icons/pencil_16.png);
  --url-icon-project: url(/icons/project_16.png);
  --url-icon-question: url(/icons/question_16.png);
  --url-icon-quote: url(/icons/quote_16.png);
  --url-icon-readme: url(/icons/readme_16.png);
  --url-icon-releases_32: url(/icons/releases_32.png);
  --url-icon-reply: url(/icons/reply_16.png);
  --url-icon-repository: url(/icons/repository_16.png);
  --url-icon-search: url(/icons/search_16.png);
  --url-icon-star: url(/icons/star_16.png);
  --url-icon-tasklist: url(/icons/tasklist_14.png);
  --url-icon-text-size: url(/icons/text-size.png);
  --url-icon-trash: url(/icons/trash_16.png);
  --url-icon-unfold: url(/icons/unfold.png);
  --url-icon-unmute: url(/icons/unmute_16.png);
  --url-icon-x: url(/icons/x.png);
  --url-input-border: url(/borders/input-border.png);
  --url-statusbar-grip: url(/borders/statusbar-grip.png);
  --url-tab-border: url(/borders/tab-border.png);
  --url-tab-container-border: url(/borders/tab-container-border.png);
  --url-toolbar-border: url(/borders/toolbar-border.png);
  --url-toolbar-grip: url(/borders/toolbar-grip.png);
  --url-tooltip-border: url(/borders/tooltip-border.png);
  --url-tooltip-tail: url(/borders/tooltip-tail.png);
  --url-window-border: url(/borders/window-border.png);
}

$url-button-border: var(--url-button-border);
$url-button-primary-border: var(--url-button-primary-border);
$url-button-primary-pushed-border: var(--url-button-primary-pushed-border);
$url-button-pushed-border: var(--url-button-pushed-border);
$url-button-selected-background: var(--url-button-selected-background);
$url-clippy: var(--url-clippy);
$url-icon-alert: var(--url-icon-alert);
$url-icon-bell: var(--url-icon-bell);
$url-icon-bold: var(--url-icon-bold);
$url-icon-bookmark: var(--url-icon-bookmark);
$url-icon-branches_32: var(--url-icon-branches_32);
$url-icon-broadcast: var(--url-icon-broadcast);
$url-icon-check: var(--url-icon-check);
$url-icon-code: var(--url-icon-code);
$url-icon-comment: var(--url-icon-comment);
$url-icon-commits_32: var(--url-icon-commits_32);
$url-icon-copy: var(--url-icon-copy);
$url-icon-create: var(--url-icon-create);
$url-icon-directory: var(--url-icon-directory);
$url-icon-error: var(--url-icon-error);
$url-icon-eye: var(--url-icon-eye);
$url-icon-file: var(--url-icon-file);
$url-icon-fold: var(--url-icon-fold);
$url-icon-fork: var(--url-icon-fork);
$url-icon-gear: var(--url-icon-gear);
$url-icon-git-pull-request: var(--url-icon-git-pull-request);
$url-icon-globe: var(--url-icon-globe);
$url-icon-graph: var(--url-icon-graph);
$url-icon-issue: var(--url-icon-issue);
$url-icon-italic: var(--url-icon-italic);
$url-icon-law: var(--url-icon-law);
$url-icon-law_32: var(--url-icon-law_32);
$url-icon-link: var(--url-icon-link);
$url-icon-list-ordered: var(--url-icon-list-ordered);
$url-icon-list-unordered: var(--url-icon-list-unordered);
$url-icon-location: var(--url-icon-location);
$url-icon-lock: var(--url-icon-lock);
$url-icon-mail: var(--url-icon-mail);
$url-icon-mention: var(--url-icon-mention);
$url-icon-mute: var(--url-icon-mute);
$url-icon-organization: var(--url-icon-organization);
$url-icon-organization_32: var(--url-icon-organization_32);
$url-icon-pencil: var(--url-icon-pencil);
$url-icon-project: var(--url-icon-project);
$url-icon-question: var(--url-icon-question);
$url-icon-quote: var(--url-icon-quote);
$url-icon-readme: var(--url-icon-readme);
$url-icon-releases_32: var(--url-icon-releases_32);
$url-icon-reply: var(--url-icon-reply);
$url-icon-repository: var(--url-icon-repository);
$url-icon-search: var(--url-icon-search);
$url-icon-star: var(--url-icon-star);
$url-icon-tasklist: var(--url-icon-tasklist);
$url-icon-text-size: var(--url-icon-text-size);
$url-icon-trash: var(--url-icon-trash);
$url-icon-unfold: var(--url-icon-unfold);
$url-icon-unmute: var(--url-icon-unmute);
$url-icon-x: var(--url-icon-x);
$url-input-border: var(--url-input-border);
$url-statusbar-grip: var(--url-statusbar-grip);
$url-tab-border: var(--url-tab-border);
$url-tab-container-border: var(--url-tab-container-border);
$url-toolbar-border: var(--url-toolbar-border);
$url-toolbar-grip: var(--url-toolbar-grip);
$url-tooltip-border: var(--url-tooltip-border);
$url-tooltip-tail: var(--url-tooltip-tail);
$url-window-border: var(--url-window-border);
