$color-background: #bdbdbd;
$color-desktop-background: #007b7b;
$color-window-background: #bdbdbd;
$color-border-dark: #7b7b7b;
$color-border-light: #ffffff;
$color-header-left: #10276d;
$color-header-right: #a5ccf7;
$color-header-text: #ffffff;
$color-input-background: #ffffff;
$color-input-text: #000000;
$color-text: #000000;
$color-link: #0000ff;
$color-tooltip: #ffffcc;
$color-highlight-text: #ffffff;
$color-highlight: #000080;
