%clippy {
  & {
    position: relative;
    margin-bottom: 120px !important;
  }

  &::before {
    @include tooltip-tail;
    content: ' ';
    position: absolute;
    bottom: 0;
    margin-bottom: -16px;
    right: 65px;
  }

  &::after {
    background: $url-clippy no-repeat;
    content: ' ';
    height: 94px;
    width: 86px;
    position: absolute;
    right: 07px;
    bottom: 0;
    margin-bottom: -113px;
  }
}

.js-notice:not(.js-repository-recommendation):not(summary) {
  @extend %clippy;
}

.create-account-callout {
  @extend %clippy;
}
