.select-menu-modal {
  margin: 0;
  padding: 2px;
  font-size: inherit !important;

  .select-menu-header {
    @include window-header;
    border-bottom: none !important;

    .select-menu-title {
      color: $color-header-text;
    }
  }

  .select-menu-filters {
    background-color: transparent;
  }

  .select-menu-list {
    margin-top: 5px;
  }
}

.select-menu-tabs a,
.select-menu-tabs .select-menu-tab-nav
{
  font-weight: normal !important;
  font-size: inherit !important;
}

.select-menu-list:last-child .select-menu-item:last-child,
.select-menu-item.last-visible
{
  border-radius: 0 !important;
}

.select-menu-item {
  background: transparent;
  color: $color-text;
}

.dropdown-divider,
.select-menu-item:not(:last-child) {
  @include border-bottom-separator;
}

.dropdown-header {
  @include text-disabled;
}

.select-menu-item.selected {
  color: $color-text;
}

.dropdown-menu {
  padding: 5px !important;

  background-color: $color-window-background;

  &::before {
    display: none;
  }

  &::after {
    display: none;
  }
}

.dropdown-header {
  font-size: inherit !important;
}

.dropdown-item {
  text-decoration: none;
}

.select-menu-item.selected .description,
.select-menu-item-text .description {
  font-size: inherit !important;
  color: $color-text;
}

.dropdown-item:hover,
.dropdown-item.zeroclipboard-is-hover,
.jump-to-suggestions-results-container [aria-selected="true"] .jump-to-suggestions-path,
.jump-to-suggestions-results-container .navigation-focus .jump-to-suggestions-path,
.select-menu-item:hover,
.select-menu-item:hover.selected,
.select-menu-item:hover.select-menu-action,
.select-menu-item:hover .description-inline,
.select-menu-item:focus,
.select-menu-item:focus.selected,
.select-menu-item:focus.select-menu-action,
.select-menu-item:focus .description-inline,
.select-menu-item.navigation-focus,
.select-menu-item.navigation-focus.selected,
.select-menu-item.navigation-focus.select-menu-action,
.select-menu-item.navigation-focus .description-inline,
.select-menu-item[aria-selected="true"],
.select-menu-item[aria-selected="true"].selected,
.select-menu-item[aria-selected="true"].select-menu-action,
.select-menu-item[aria-selected="true"] .description-inline
{
  color: $color-highlight-text !important;
  background: $color-highlight !important;
}

.jump-to-suggestions {
  border: 1px solid black;

  border-radius: 0 !important;

  li {
    border: none !important;

    a {
      padding: 4px !important;
    }
  }
}

#jump-to-results {
  border: none !important;
}
