@import '../variables';
@import '../mixins';

.tabnav,
.timeline-new-comment .comment-form-head {
  margin-bottom: 0;
}

.UnderlineNav-item,
.tabnav-tab,
.tabnav-pr .tabnav-tab,
.select-menu-tabs a,
.reponav-item
{
  border-width: 2px;
  position: relative;
  bottom: 1px;
  color: $color-text;
  text-decoration: none !important;
  padding: 0 5px 5px;
}

.UnderlineNav-item.selected,
.tabnav-tab.selected,
.select-menu-tabs a.selected,
.reponav-item.selected {
  bottom: 4px;
  height: 35px;
  margin-bottom: -5px;
}

.gutter,
.select-menu-tabs ul,
.tabnav-tabs {
  display: flex;
  position: relative;
  z-index: 1;
}

.gutter {
  padding: 5px !important;
}

.UnderlineNav-item {
  margin-right: 0 !important;
  text-decoration: none !important;
}

.user-profile-nav {
  border-bottom: none;
  background-color: $color-window-background;
}

.UnderlineNav + .position-relative > .mt-4 {
  margin-top: 0 !important;
  padding-top: 24px;
}

.news .UnderlineNav {
  padding-top: 16px;
}
