@import '../variables';
@import '../mixins';

body > div.Popover {
  background: transparent !important;
}

.Popover-message::after {
  display: none !important;
}

.tooltipped::after,
.Popover-message,
.flash,
.js-notice:not(.js-repository-recommendation) {
  @include tooltip;
}

.Popover-message::before,
.tooltipped::before {
  @include tooltip-tail;
}

.tooltipped-sw::before {
  bottom: -7px !important;
  border-bottom-color: transparent !important;
  transform: scale(1, -1);
}

.tooltipped-s::before,
.tooltipped-se::before {
  bottom: -7px !important;
  border-bottom-color: transparent !important;
  transform: scale(-1, -1);
}

.tooltipped-nw::before {
  /* transform: scale(1, 1); */
}

.Popover-message::before,
.tooltipped-n::before,
.tooltipped-ne::before {
  transform: scale(-1, 1);
}

.tooltipped-e::before {
  transform: rotate(90deg);
  right: -5px;
}

.tooltipped-w::before {
  transform: rotate(-90deg);
  left: -5px;
}
